<ion-header>
  <ion-toolbar>
    <ion-segment #alertaIdioma [value]="idiomaAplicacion ?? idiomasAlertas[0]" slot="start">
      <ion-segment-button *ngFor="let idioma of idiomasAlertas" [value]="idioma">
        <ion-label>{{idioma}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" >
        <ion-icon src="assets/img/cerrar.svg"></ion-icon>
      </ion-button> 
    </ion-buttons>         
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-card *ngFor="let alerta of alertas | async" [color]="(alerta.severityLevel === severityLevelEnum.SEVERE) ? 'danger' : ((alerta.severityLevel === severityLevelEnum.WARNING) ? 'warning' : '')">
    <ion-card-header>
      <ion-label>
        <ion-chip *ngIf="alerta.cause" style="background: rgba(128, 128, 128, 0.8); color: white;">
          <ion-label>{{'gtfs.alert.severityLevel.'+causeEnum[alerta.cause] | translate}}</ion-label>
        </ion-chip>
      </ion-label>

      <ion-label>
        <ion-chip *ngIf="alerta.effect" [ngSwitch]="alerta.effect" style="background: rgba(128, 128, 128, 0.8); color: white;">
          <ion-label>{{'gtfs.alert.effect.'+effectEnum[alerta.effect] | translate}}</ion-label>
        </ion-chip>
      </ion-label>                      
      
      <ng-container *ngFor="let translation of alerta.headerText?.translation">
        <ion-card-title *ngIf="translation.language === alertaIdioma.value">{{translation.text}}</ion-card-title>
      </ng-container>
      <ion-card-subtitle *ngIf="alerta.activePeriod && alerta.activePeriod?.length! > 0">
        {{'modalAlertas.periodo' | translate:({"desde": ($any(alerta.activePeriod[0].start) * 1000 | dateFormat:'YYYY/MM/DD HH:mm'), "hasta": ($any(alerta.activePeriod[0].end) * 1000 | dateFormat:'YYYY/MM/DD HH:mm')})}}
      </ion-card-subtitle>
    </ion-card-header>                    
    <ion-card-content>
      <ng-container *ngFor="let translation of alerta.descriptionText?.translation">
        <ion-text *ngIf="translation.language === alertaIdioma.value">{{translation.text}}</ion-text>
      </ng-container>
      <br/>
      <ng-container *ngFor="let translation of alerta.url?.translation">
        <ion-button *ngIf="translation.language === alertaIdioma.value" (click)="abrirUrl(translation.text)">
          <ion-icon slot="icon-only" src="assets/img/link.svg"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>