<ion-content>
  <ion-list *ngIf="paradas.length > 0">
    <ion-list-header>
      <ion-label>Paradas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let p of paradas" button (click)="mostrarParada(p, $event)">
      <h2>{{p.nombre}}</h2><h2 *ngIf="p.codigoPlataforma != ''">[{{p.codigoPlataforma}}]</h2>
      <ion-chip *ngFor="let linea of p.lineas | slice:0:3" [ngStyle]="{'background': $any(linea).color, 'color': $any(linea).colorTexto}">{{$any(linea).nombreCorto}}</ion-chip>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="lineas.length > 0">
    <ion-list-header>
      <ion-label><b>Lineas</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let l of lineas" button (click)="mostrarLinea(l, $event)">
      <ion-icon src="assets/img/tipolinea_{{l.tipo ? l.tipo : 0}}.svg"></ion-icon>
      <h2>{{l.nombreCorto}}{{(l.nombreCorto && l.nombreLargo) ? ' - ' : ''}}{{l.nombreLargo}}</h2>
      <ion-chip [ngStyle]="{'background': l.color, 'color': l.colorTexto}">{{l.nombreAgencia}}</ion-chip>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="viajes.length > 0">
    <ion-list-header>
      <ion-label><b>Viajes</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let v of viajes" button (click)="mostrarViaje(v, $event)">
      <ion-chip [ngStyle]="{'background': v.linea?.color, 'color': v.linea?.colorTexto}">{{v.linea?.nombreCorto ?? v.linea?.nombreLargo ?? v.idLinea}}</ion-chip>
      <ion-text>{{v.letrero}}</ion-text>
      
    </ion-item>
  </ion-list>
</ion-content>