<app-lateral nombre="Parada" [nivel]="2">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <span *ngIf="parada.codigoPlataforma !== ''">{{parada.codigoPlataforma}} - </span>
          <span>{{parada.nombre}}</span>
          <span *ngIf="parada.codigo"> - {{parada.codigo}}</span>
        </ion-card-title>
        <ion-card-subtitle>
          <span *ngIf="parada.idZona !== ''">Zona {{parada.idZona?.slice(parada.idZona!.indexOf("_")+1)?.[1]}} - </span>
          <ion-icon id="parada_accesibilidad" src="assets/img/accesibilidad_{{parada.accesibilidad ? parada.accesibilidad : '0'}}.svg"></ion-icon>
          <ion-popover trigger="parada_accesibilidad" triggerAction="click"showBackdrop="false">
            <ng-template>
              <ion-content *ngIf="parada.accesibilidad === undefined || parada.accesibilidad === 0" class="ion-padding">Sin información sobre accesibilidad</ion-content>
              <ion-content *ngIf="parada.accesibilidad === 1" class="ion-padding">Algunos vehiculos permiten acceder en silla de ruedas</ion-content>
              <ion-content *ngIf="parada.accesibilidad === 2" class="ion-padding">No es posible acceder en silla de ruedas</ion-content>
            </ng-template>
          </ion-popover>
          <ng-container *ngIf="alertasTiempoReal.length > 0">
            <ion-button color="warning" (click)="mostrarModalAlertas()">
              <ion-icon slot="icon-only" src="assets/img/alerta.svg"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-card-subtitle>
        <ion-card-content style="padding: 0 !important;">
          <ion-row style="justify-content: flex-start; flex-wrap: nowrap; overflow-x: scroll !important; overflow-y: hidden;">
            <ion-col *ngFor="let agencia of agencias" style="display: flex; flex-wrap: nowrap;">
              <ion-chip text-wrap (click)="navegarA(['../../agencia', agencia.idAgencia])">
                <ion-label text-wrap style="max-width: 100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{agencia.nombre}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let horario of viajes" [button]="true" [detail]="false" (click)="navegarA(['../../viaje', horario.idViaje])">
          <ion-icon src="assets/img/tipolinea_{{horario.linea?.tipo ? horario.linea?.tipo : 0}}.svg"></ion-icon>
          <ion-label style="flex-grow: 2;">
            <ion-chip [ngStyle]="{'background': horario.linea?.color, 'color': horario.linea?.colorTexto}">{{horario.linea?.nombreCorto ?? horario.linea?.idLinea?.split("_")?.[1]}}</ion-chip>
            <ion-text>{{horario.letrero ?? horario.linea?.nombreLargo}}</ion-text>
          </ion-label>
          <ion-label style="flex: 0 0 auto; text-align: end;">
            <ng-container *ngIf="horario.retrasoTiempoReal">
              <ng-container *ngIf="horario.retrasoTiempoReal === 0">
                <ion-text color="success" style="padding-right: 0.2em;">=</ion-text>
              </ng-container>
              <ng-container *ngIf="horario.retrasoTiempoReal < 0">
                <ion-text color="danger" style="padding-right: 0.2em;"> (-{{(horario.retrasoTiempoReal % 3600) / 60 | number: '1.0-0'}}m)</ion-text>
              </ng-container>
              <ng-container *ngIf="horario.retrasoTiempoReal > 0">
                <ion-text color="danger" style="padding-right: 0.2em;"> (+{{(horario.retrasoTiempoReal % 3600) / 60 | number: '1.0-0'}}m)</ion-text>
              </ng-container>
            </ng-container>
            <ion-text id="parada_hora_{{horario.idViaje}}_{{horario.horario.orden}}" (click)="$event.stopPropagation()">en {{((horario.tiempoRestanteTiempoReal ?? horario.tiempoRestante ?? 0) > 60) ? (((horario.tiempoRestanteTiempoReal ?? horario.tiempoRestante ?? 0) / 60) | floor) +'h ': ''}}{{(horario.tiempoRestanteTiempoReal ?? horario.tiempoRestante) ? (horario.tiempoRestanteTiempoReal ?? horario.tiempoRestante ?? 0) % 60: '??'}}min</ion-text>
            <ion-popover trigger="parada_hora_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click" showBackdrop="false">
              <ng-template>
                <ion-content class="ion-padding">A las {{horario.horario.momentoLlegada?.tz(horario.zonaHoraria)! | dateFormat:'H:mm'}} hora local</ion-content>
              </ng-template>
            </ion-popover>
            <br/>
            <ion-note class="ion-align-self-end">
              <ion-text>a las {{horario.momentoLlegadaTiempoReal ?? horario.horario.momentoLlegada! | dateFormat:'H:mm'}}</ion-text>
              
              <ion-icon id="parada_exacto_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/exacto_{{horario.horario.exacto ? '1' : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="parada_exacto_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click" showBackdrop="false">
                <ng-template>
                  <ion-content *ngIf="horario.horario.exacto === undefined || !horario.horario.exacto" class="ion-padding">Horario aproximado</ion-content>
                  <ion-content *ngIf="horario.horario.exacto" class="ion-padding">Horario exacto</ion-content>
                </ng-template>
              </ion-popover>
              <ion-icon id="parada_bici_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/bici_{{horario.bicicletas ? horario.bicicletas : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="parada_bici_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click"showBackdrop="false">
                <ng-template>
                  <ion-content *ngIf="horario.bicicletas === undefined || horario.bicicletas === 0" class="ion-padding">Sin información</ion-content>
                  <ion-content *ngIf="horario.bicicletas === 1" class="ion-padding">Se permite acceder con una bicicleta</ion-content>
                  <ion-content *ngIf="horario.bicicletas === 2" class="ion-padding">No es posible acceder con una bicicleta</ion-content>
                </ng-template>
              </ion-popover>
              <ion-icon id="parada_accesibilidad_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/accesibilidad_{{horario.accesibilidad ? horario.accesibilidad : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="parada_accesibilidad_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click"showBackdrop="false">
                <ng-template>
                  <ion-content *ngIf="horario.accesibilidad === undefined || horario.accesibilidad === 0" class="ion-padding">Sin información</ion-content>
                  <ion-content *ngIf="horario.accesibilidad === 1" class="ion-padding">Es posible acceder en silla de ruedas</ion-content>
                  <ion-content *ngIf="horario.accesibilidad === 2" class="ion-padding">No es posible acceder en silla de ruedas</ion-content>
                </ng-template>
              </ion-popover>
              <ng-container *ngIf="horario.tiempoReal">
                <ion-icon id="parada_tiemporeal_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/tiemporeal.svg" (click)="$event.stopPropagation()"></ion-icon>
                <ion-popover trigger="parada_tiemporeal_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click" showBackdrop="false">
                  <ng-template>
                    <ion-content>
                      <ng-container *ngIf="horario.tiempoReal.arrival">
                        <ion-text style="font-weight: bold;">Llegada: </ion-text>
                        <ng-container *ngIf="horario.momentoLlegadaTiempoReal">
                          <ion-text>{{horario.momentoLlegadaTiempoReal | dateFormat:'H:mm'}}</ion-text>
                        </ng-container>
                        
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.tiempoReal.departure">
                        <ion-text style="font-weight: bold;">Salida: </ion-text>
                        <ng-container *ngIf="horario.momentoSalidaTiempoReal">
                          <ion-text>{{horario.momentoSalidaTiempoReal | dateFormat:'H:mm'}}</ion-text>
                        </ng-container>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.retrasoTiempoReal">
                        <ion-text style="font-weight: bold;">Retraso: </ion-text>
                        <ng-container *ngIf="horario.retrasoTiempoReal! === 0">
                          <ion-text style="padding-right: 1em;">0 min</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoTiempoReal! < 0">
                          <ion-text color="danger" style="padding-right: 1em;">{{(-horario.retrasoTiempoReal! / 3600) - (( -horario.retrasoTiempoReal! % 3600 ) / 3600)}}h {{(-horario.retrasoTiempoReal! % 3600) / 60 | number: '1.0-0'}} min</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoTiempoReal! > 0">
                          <ion-text color="danger" style="padding-right: 1em;">{{(horario.retrasoTiempoReal! / 3600) - (( horario.retrasoTiempoReal! % 3600 ) / 3600)}}h {{(horario.retrasoTiempoReal! % 3600) / 60 | number: '1.0-0'}} min</ion-text>
                        </ng-container>
                      </ng-container>                      
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ng-container>
            </ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
      <div style="display: flex; flex-direction: column;">
        <ion-note *ngIf="horariosHasta" style="margin: auto; padding-bottom: 0.5em;">Horarios hasta: {{horariosHasta | dateFormat:'dddd D - HH:mm'}}</ion-note>
        <ion-button style="margin: auto; padding-bottom: 0.5em;" (click)="obtenerHorarios()">
          <ion-icon slot="start" src="assets/img/suma.svg"></ion-icon>
          Cargar más
        </ion-button>        
      </div>
    </ion-card>
  </div>
</app-lateral>