<app-lateral nombre="{{'parada.titulo' | translate}}" [nivel]="2">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <span *ngIf="parada.codigoPlataforma !== ''">{{parada.codigoPlataforma}} - </span>
          <span>{{parada.nombre}}</span>
          <span *ngIf="parada.codigo"> - {{parada.codigo}}</span>
        </ion-card-title>
        <ion-card-subtitle>
          <span *ngIf="parada.idZona !== ''">{{'parada.zona' | translate:({"zona": parada.idZona?.slice(parada.idZona!.indexOf("_")+1)})}} - </span>
          <ion-icon id="parada_accesibilidad" src="assets/img/accesibilidad_{{parada.accesibilidad ? parada.accesibilidad : '0'}}.svg"></ion-icon>
          <ion-popover trigger="parada_accesibilidad" triggerAction="click"showBackdrop="false">
            <ng-template>
              <ion-content class="ion-padding">{{'gtfs.wheelchairBoarding.'+(parada.accesibilidad ?? 0) | translate}}</ion-content>
            </ng-template>
          </ion-popover>
          <ng-container *ngIf="alertasTiempoReal.length > 0">
            <ion-button color="warning" (click)="mostrarModalAlertas()">
              <ion-icon slot="icon-only" src="assets/img/alerta.svg"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-card-subtitle>
        <ion-card-content style="padding: 0 !important;">
          <ion-row style="justify-content: flex-start; flex-wrap: nowrap; overflow-x: scroll !important; overflow-y: hidden;">
            <ion-col *ngFor="let agencia of agencias" style="display: flex; flex-wrap: nowrap;">
              <ion-chip text-wrap (click)="navegarA(['../../agencia', agencia.idAgencia])">
                <ion-label text-wrap style="max-width: 100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{agencia.nombre}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let horario of viajes" [button]="true" [detail]="false" (click)="navegarA(['../../viaje', horario.idViaje])">
          <ion-icon src="assets/img/tipolinea_{{horario.linea?.tipo ?? ''}}.svg"></ion-icon>
          <ion-label style="flex-grow: 2;">
            <ion-chip [ngStyle]="{'background': horario.linea?.color, 'color': horario.linea?.colorTexto}">{{horario.linea?.nombreCorto ?? horario.linea?.idLinea?.split("_")?.[1]}}</ion-chip>
            <ion-text>{{horario.letrero ?? horario.linea?.nombreLargo}}</ion-text>
          </ion-label>
          <ion-label style="flex: 0 0 auto; text-align: end;">
            <ng-container *ngIf="horario.retrasoTiempoReal">
              <ng-container *ngIf="horario.retrasoTiempoReal === 0">
                <ion-text color="success" style="padding-right: 0.2em;">=</ion-text>
              </ng-container>
              <ng-container *ngIf="horario.retrasoTiempoReal < 0">
                <ion-text color="danger" style="padding-right: 0.2em;"> (-{{horario.retrasoTiempoReal | durationFormat:'seconds':'h[h] m[min]'}})</ion-text>
              </ng-container>
              <ng-container *ngIf="horario.retrasoTiempoReal > 0">
                <ion-text color="danger" style="padding-right: 0.2em;"> (+{{horario.retrasoTiempoReal | durationFormat:'seconds':'h[h] m[min]'}})</ion-text>
              </ng-container>
            </ng-container>
            <ion-text id="parada_hora_{{horario.idViaje}}_{{horario.horario.orden}}" (click)="$event.stopPropagation()">
              {{'parada.tiempoRestante' | translate:({"tiempo": horario.tiempoRestanteTiempoReal ?? horario.tiempoRestante | durationFormat:'minutes':'h[h] m[min]'})}}
            </ion-text>
            <ion-popover trigger="parada_hora_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click" showBackdrop="false">
              <ng-template>
                <ion-content class="ion-padding">
                  {{'parada.llegadaLocal' | translate:({"hora": horario.horario.momentoLlegada?.tz(horario.zonaHoraria)! | dateFormat:'H:mm'})}}
                </ion-content>
              </ng-template>
            </ion-popover>
            <br/>
            <ion-note class="ion-align-self-end">
              <ion-text>{{'parada.llegada' | translate:({"hora": horario.momentoLlegadaTiempoReal ?? horario.horario.momentoLlegada! | dateFormat:'H:mm'})}}</ion-text>
              
              <ion-icon id="parada_exacto_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/exacto_{{horario.horario.exacto ? '1' : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="parada_exacto_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click" showBackdrop="false">
                <ng-template>
                  <ion-content class="ion-padding">{{'gtfs.timepoint.'+((horario.horario.exacto === undefined || !horario.horario.exacto) ? 0 : 1) | translate}}</ion-content>
                </ng-template>
              </ion-popover>
              <ion-icon id="parada_bici_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/bici_{{horario.bicicletas ? horario.bicicletas : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="parada_bici_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click"showBackdrop="false">
                <ng-template>
                  <ion-content class="ion-padding">{{'gtfs.bikesAllowed.'+(horario.bicicletas ?? 0) | translate}}</ion-content>
                </ng-template>
              </ion-popover>
              <ion-icon id="parada_accesibilidad_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/accesibilidad_{{horario.accesibilidad ? horario.accesibilidad : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="parada_accesibilidad_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click"showBackdrop="false">
                <ng-template>
                  <ion-content class="ion-padding">{{'gtfs.wheelchairAccessible.'+(horario.accesibilidad ?? 0) | translate}}</ion-content>
                </ng-template>
              </ion-popover>
              <ng-container *ngIf="horario.tiempoReal">
                <ion-icon id="parada_tiemporeal_{{horario.idViaje}}_{{horario.horario.orden}}" src="assets/img/tiemporeal.svg" (click)="$event.stopPropagation()"></ion-icon>
                <ion-popover trigger="parada_tiemporeal_{{horario.idViaje}}_{{horario.horario.orden}}" triggerAction="click" showBackdrop="false">
                  <ng-template>
                    <ion-content>
                      <ng-container *ngIf="horario.tiempoReal.arrival">
                        <ion-text [innerHTML]="'parada.llegadaTiempoReal' | translate:({'hora': (horario.momentoLlegadaTiempoReal | dateFormat:'H:mm')})"></ion-text>                        
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.tiempoReal.departure">
                        <ion-text [innerHTML]="'parada.salidaTiempoReal' | translate:({'hora': (horario.momentoSalidaTiempoReal | dateFormat:'H:mm')})"></ion-text>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.retrasoTiempoReal">
                        <ion-text style="font-weight: bold;">{{'parada.retrasoTiempoReal' | translate}}</ion-text>
                        <ng-container *ngIf="horario.retrasoTiempoReal! === 0">
                          <ion-text style="padding-right: 1em;">0 min</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoTiempoReal! < 0">
                          <ion-text color="danger" style="padding-right: 1em;">{{-horario.retrasoTiempoReal | durationFormat:'seconds':'h[h] m[min]'}}</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoTiempoReal! > 0">
                          <ion-text color="danger" style="padding-right: 1em;">{{horario.retrasoTiempoReal | durationFormat:'seconds':'h[h] m[min]'}}</ion-text>
                        </ng-container>
                      </ng-container>                      
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ng-container>
            </ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
      <div style="display: flex; flex-direction: column;">
        <ion-note *ngIf="horariosHasta" style="margin: auto; padding-bottom: 0.5em;">{{'parada.horariosHasta' | translate:({'hora': horariosHasta | dateFormat:'dddd D - HH:mm'})}}</ion-note>
        <ion-button style="margin: auto; padding-bottom: 0.5em;" (click)="obtenerHorarios()">
          <ion-icon slot="start" src="assets/img/suma.svg"></ion-icon>
          {{'parada.cargarMas' | translate}}
        </ion-button>        
      </div>
    </ion-card>
  </div>
</app-lateral>