<app-lateral nombre="{{'atribuciones.titulo' | translate}}" [nivel]="1">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-label class="informacion" style="font-size: 1em;"><b>{{'atribuciones.mapaBase' | translate}}: </b><a href="https://www.openstreetmap.org/copyright" target="_blank">© Colaboradores de OpenStreetMap</a></ion-label>
        <ion-label class="informacion" style="font-size: 1em;"><b>{{'atribuciones.iconosDe' | translate}} </b><a href="https://github.com/google/material-design-icons" target="_blank">Google Material Symbols</a></ion-label>
        <ion-label class="informacion" style="font-size: 1em;"><b>{{'atribuciones.iconosDe' | translate}} </b><a href="https://icons8.com/" target="_blank">Icons8</a></ion-label>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let feed of feeds">
          <ion-item slot="header" color="light">
            <ion-label>
              {{feed.nombre}}
            </ion-label>
          </ion-item>
          <div slot="content">
            <ion-card class="ion-no-margin ion-margin-bottom">
              <ion-header class="ion-padding-top ion-padding-start">
                <ion-card-title>{{'atribuciones.fuentesDatos' | translate}}:</ion-card-title>
              </ion-header>
              <ion-card-content class="ion-no-padding">
                <ion-list>
                  <ion-item *ngFor="let fuente of feed.fuentes">
                    <ion-label class="informacion"><a target="_blank" [href]="fuente.urlAtribucion">{{fuente.atribucion}}</a></ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>            
            <ion-card *ngIf="feed.info" class="ion-no-margin ion-margin-bottom">
              <ion-header class="ion-padding-top ion-padding-start">
                <ion-card-title>{{'atribuciones.informacion' | translate}}:</ion-card-title>
              </ion-header>
              <ion-card-content class="ion-no-padding">
                <ion-item>
                  <ion-label class="informacion">
                    <b>{{'atribuciones.nombreEditor' | translate}}: </b>{{feed.info.nombreEditor}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="informacion">
                    <b>{{'atribuciones.urlEditor' | translate}}: </b><a [href]="feed.info.urlEditor" target="_blank">{{feed.info.urlEditor}}</a>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="informacion">
                    <b>{{'atribuciones.idioma' | translate}}: </b>{{feed.info.idioma}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="feed.info.idiomaPredeterminado">
                  <ion-label class="informacion">
                    <b>{{'atribuciones.idiomaPredeterminado' | translate}}: </b>{{feed.info.idiomaPredeterminado}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="feed.info.fechaInicio || feed.info.fechaFin">
                  <ion-label class="informacion">
                    <b>{{'atribuciones.rangoFechas' | translate}}: </b>{{(feed.info.fechaInicio | date:'mediumDate') ?? '??'}} - {{(feed.info.fechaFin | date:'mediumDate') ?? '??'}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="feed.info.version">
                  <ion-label class="informacion">
                    <b>{{'atribuciones.version' | translate}}: </b>{{feed.info.version}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="feed.info.email">
                  <ion-label class="informacion">
                    <b>{{'atribuciones.email' | translate}}: </b><a [href]="'mailto:' + feed.info.email">{{feed.info.email}}</a>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="feed.info.urlContacto">
                  <ion-label class="informacion">
                    <b>{{'atribuciones.urlContacto' | translate}}: </b><a [href]="feed.info.urlContacto" target="_blank">{{feed.info.urlContacto}}</a>
                  </ion-label>
                </ion-item>
              </ion-card-content>              
            </ion-card>
            <ion-card *ngIf="feed.atribuciones" class="ion-no-margin ion-margin-bottom">
              <ion-header class="ion-padding-top ion-padding-start">
                <ion-card-title>{{'atribuciones.atribuciones' | translate}}:</ion-card-title>
              </ion-header>
              <ion-card-content class="ion-no-padding">
                <ion-accordion-group [multiple]="true" class="ion-margin-horizontal">
                  <ion-accordion *ngFor="let atribucion of feed.atribuciones">
                    <ion-item slot="header" color="light">
                      <ion-label>{{atribucion.nombreOrganizacion}}</ion-label>
                    </ion-item>
                    <div slot="content">
                      <ion-item *ngIf="atribucion.idAgencia">
                        <ion-label class="informacion">
                          <b>{{'atribuciones.agencia' | translate}}: </b>{{atribucion.nombre?.nombre ?? atribucion.idAgencia}}
                        </ion-label>
                      </ion-item>
                      <ion-item *ngIf="atribucion.idLinea">
                        <ion-label class="informacion">
                          <b>{{'atribuciones.linea' | translate}}: </b>{{atribucion.nombre?.nombreCorto ?? atribucion.nombre?.nombreLargo ?? atribucion.idLinea}}
                        </ion-label>
                      </ion-item>
                      <ion-item *ngIf="atribucion.idViaje">
                        <ion-label class="informacion">
                          <b>{{'atribuciones.viaje' | translate}}: </b>{{atribucion.nombre?.nombre ?? atribucion.idViaje}}
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="informacion">
                          <b>{{'atribuciones.relacion' | translate}}: </b>{{(atribucion.esProductor ? ('atribuciones.productor' | translate) : '') + (atribucion.esProductor && (atribucion.esOperador || atribucion.esAutoridad) ? ' / ' : '') + (atribucion.esOperador ? ('atribuciones.operador' | translate) : '') + (atribucion.esOperador && atribucion.esAutoridad ? ' / ' : '') + (atribucion.esAutoridad ? ('atribuciones.autoridad' | translate) : '')}}
                      </ion-label>
                      </ion-item>
                      <ion-item *ngIf="atribucion.url">
                        <ion-label class="informacion">
                          <b>{{'atribuciones.url' | translate}}: </b><a [href]="atribucion.url" target="_blank">{{atribucion.url}}</a>
                        </ion-label>
                      </ion-item>
                      <ion-item *ngIf="atribucion.email">
                        <ion-label class="informacion">
                          <b>{{'atribuciones.email' | translate}}: </b><a [href]="'mailto:' + atribucion.email" target="_blank">{{atribucion.email}}</a>
                        </ion-label>
                      </ion-item>
                      <ion-item *ngIf="atribucion.telefono">
                        <ion-label class="informacion">
                          <b>{{'atribuciones.telefono' | translate}}: </b><a [href]="'tel:' + atribucion.telefono" target="_blank">{{atribucion.telefono}}</a>
                        </ion-label>
                      </ion-item>
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </div>
</app-lateral>