<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'modalLista.titulo' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon src="assets/img/cerrar.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="paradas.length > 0">
    <ion-list-header>
      <ion-label><b>{{'modalLista.paradas' | translate}}</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let p of paradas" button (click)="mostrarParada(p, $event)">
      <ion-text>{{p.nombre}}</ion-text><ion-text *ngIf="p.codigoPlataforma && p.codigoPlataforma !== ''"> [{{p.codigoPlataforma}}]</ion-text>
      <ion-chip *ngFor="let linea of p.lineas | slice:0:3" [ngStyle]="{'background': $any(linea).color, 'color': $any(linea).colorTexto}">{{$any(linea).nombreCorto}}</ion-chip>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="lineas.length > 0">
    <ion-list-header>
      <ion-label><b>{{'modalLista.lineas' | translate}}</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let l of lineas" button (click)="mostrarLinea(l, $event)">
      <ion-icon src="assets/img/tipolinea_{{l.tipo ?? ''}}.svg"></ion-icon>
      <ion-text>{{l.nombreCorto}}{{(l.nombreCorto && l.nombreLargo) ? ' - ' : ''}}{{l.nombreLargo}}</ion-text>
      <ion-chip [ngStyle]="{'background': l.color, 'color': l.colorTexto}">{{l.nombreAgencia}}</ion-chip>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="viajes.length > 0">
    <ion-list-header>
      <ion-label><b>{{'modalLista.viajes' | translate}}</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let v of viajes" button (click)="mostrarViaje(v, $event)">
      <ion-chip [ngStyle]="{'background': v.linea?.color, 'color': v.linea?.colorTexto}">{{v.linea?.nombreCorto ?? v.linea?.nombreLargo ?? v.idLinea}}</ion-chip>
      <ion-text>{{v.letrero}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>