<ion-menu contentId="mapa_router">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filtrar agencias</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-input class="ion-padding-horizontal" label="Buscar agencia" labelPlacement="floating" type="text" [clearInput]="true" fill="solid" (ionInput)="buscarAgencias($event.detail)"></ion-input>
      <ion-checkbox #chkbox_home_menu_agencias class="ion-padding-horizontal" labelPlacement="end" justify="start" [checked]="agenciasCheckboxChecked" [indeterminate]="agenciasCheckboxIndeterminate" (ionChange)="agenciaTodosCheckboxClick($event, $any($event).detail)" (click)="$event.stopPropagation()">Mostrar todas</ion-checkbox>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">    
    <ion-grid>
      <ion-row *ngFor="let agencia of listaAgenciasBusqueda">
        <ion-col size="1" style="display: flex; align-items: center; justify-content: center;">
          <ion-checkbox [checked]="agencia.mostrar" [value]="agencia.idAgencia" (ionChange)="agenciaCheckboxClick($event, $any($event).detail)"></ion-checkbox>
        </ion-col>
        <ion-col size="11">
          <ion-item [button]="true" (click)="navegarA(['../app/agencia', agencia.idAgencia])">
            <ion-label>{{agencia.nombre}}</ion-label>
          </ion-item>          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>
<ion-fab slot="fixed" vertical="top" horizontal="start">
  <ion-fab-button size="small" (click)="abrirMenu()">
    <ion-icon src="assets/img/linea.svg"></ion-icon>
  </ion-fab-button>
  <ion-fab-button size="small" (click)="navegarA(['../app/navegacion'])">
    <ion-icon src="assets/img/direccion.svg"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab slot="fixed" vertical="top" horizontal="end">
  <ion-chip color="primary" id="chip-idioma">
    <ion-icon src="assets/img/idioma.svg"></ion-icon>
    <ion-icon src="assets/banderas/{{idiomaSeleccionado}}.svg"></ion-icon>
  </ion-chip>
  <br/>
  <ion-chip color="primary">
    <ion-icon src="assets/img/tiemporeal.svg"></ion-icon>
    <ion-toggle [enableOnOffLabels]="true" [checked]="true" (ionChange)="cambiarTiempoReal($event)"></ion-toggle>
  </ion-chip>
  <br/>
  <ion-chip color="primary">
    <ion-icon src="assets/img/gps.svg"></ion-icon>
    <ion-toggle [enableOnOffLabels]="true" [checked]="false" (ionChange)="cambiarLocalizacion($event)"></ion-toggle>
  </ion-chip> 
</ion-fab>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" style="padding-bottom: 0.25em;">
  <ion-fab-button size="small" (click)="navegarA(['../app/atribuciones'])">
    <ion-icon src="assets/img/info.svg"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-popover trigger="chip-idioma" size="cover" #popoverIdioma>
  <ng-template>
    <ion-list>
      <ion-item *ngFor="let idioma of idiomas" style="--padding-start: 8px; width: fit-content;" [button]="true" (click)="cambiarIdioma($event, idioma)">
        <ion-icon src="assets/banderas/{{idioma}}.svg"></ion-icon>
        &nbsp;
        <ion-label [ngStyle]="{'font-weight': (idioma === idiomaSeleccionado) ? 'bold' : ''}">{{idioma | uppercase}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>