<ion-menu contentId="mapa_router">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filtrar líneas</ion-title>
      <button (click)="navegarA(['parada'])"> Parada</button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-checkbox #chkbox_home_menu_agencias labelPlacement="end" justify="start" [checked]="agenciasCheckboxChecked" [indeterminate]="agenciasCheckboxIndeterminate" (ionChange)="agenciaTodosCheckboxClick($event, $any($event).detail)" (click)="$event.stopPropagation()">Mostrar todas</ion-checkbox>
    <ion-accordion-group [multiple]="true">
      <ion-accordion *ngFor="let agencia of listaAgenciasLineas" [value]="agencia.idAgencia">
        <ion-item slot="header" color="light">
          <ion-checkbox labelPlacement="end" justify="start" [checked]="agencia.mostrar" [value]="agencia.idAgencia" (ionChange)="agenciaCheckboxClick($event, $any($event).detail)" (click)="$event.stopPropagation()">{{agencia.nombre}}</ion-checkbox>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item *ngFor="let linea of agencia.lineas">
              <ion-label>{{linea.nombreCorto}}{{(linea.nombreCorto && linea.nombreLargo) ? ' - ' : ''}}{{linea.nombreLargo}}</ion-label>
              <ion-button fill="clear">
                <ion-icon slot="icon-only" src="assets/icon/linea.svg" [style.color]="(linea.color) ? linea.color : 'black'" (click)="mostrarLinea($event, linea)"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
</ion-menu>
<ion-fab slot="fixed" vertical="top" horizontal="start">
  <ion-fab-button size="small" (click)="abrirMenu()">
    <ion-icon src="assets/icon/linea.svg"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab slot="fixed" vertical="top" horizontal="end">
  <ion-chip color="primary">
    <ion-icon src="assets/img/tiemporeal.svg"></ion-icon>
    <ion-toggle [enableOnOffLabels]="true" [checked]="true" (ionChange)="cambiarTiempoReal($event)"></ion-toggle>
  </ion-chip>  
</ion-fab>