<app-lateral nombre="{{'viaje.titulo' | translate}}" [nivel]="2">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon src="assets/img/tipolinea_{{linea?.tipo ?? ''}}.svg"></ion-icon>
          <ion-label>
            <ion-chip [ngStyle]="{'background': linea?.color, 'color': linea?.colorTexto}" (click)="navegarA(['../../linea', viaje?.idLinea!])">{{linea?.nombreCorto ?? viaje?.idLinea}}</ion-chip>
            <ion-text id="viaje_letrero">{{viaje?.letrero ?? linea?.nombreLargo}}</ion-text>
            <ion-popover trigger="viaje_letrero" triggerAction="click" showBackdrop="false">
              <ng-template>
                <ion-text>{{'viaje.otrosLetreros' | translate}}:</ion-text>
                <ng-container *ngFor="let letrero of letreros;">
                  <br/>
                  <ion-text>{{letrero}}</ion-text>                  
                </ng-container>
              </ng-template>
            </ion-popover>
          </ion-label>
        </ion-card-title>
        <ion-card-subtitle>
          <ng-container *ngIf="viajeTiempoReal?.delay || viajeTiempoReal?.delay === 0">
            <ng-container *ngIf="viajeTiempoReal?.delay === 0">
              <ion-text color="success" style="padding-right: 1em;">{{'viaje.enHora' | translate}}</ion-text>
            </ng-container>
            <ng-container *ngIf="viajeTiempoReal?.delay! < 0">
              <ion-text color="danger" style="padding-right: 1em;">{{'viaje.adelantado' | translate:({'tiempo': -viajeTiempoReal?.delay! | durationFormat:'seconds':'h[h] m[min]'})}}</ion-text>
            </ng-container>
            <ng-container *ngIf="viajeTiempoReal?.delay! > 0">
              <ion-text color="danger" style="padding-right: 1em;">{{'viaje.atrasado' | translate:({'tiempo': viajeTiempoReal?.delay! | durationFormat:'seconds':'h[h] m[min]'})}}</ion-text>
            </ng-container>
          </ng-container>
          <ion-icon id="viaje_accesibilidad" src="assets/img/accesibilidad_{{viaje?.accesibilidad ? viaje?.accesibilidad : '0'}}.svg"></ion-icon>
          <ion-popover trigger="viaje_accesibilidad" triggerAction="click"showBackdrop="false">
            <ng-template>
              <ion-content class="ion-padding">{{'gtfs.wheelchairAccessible.'+(viaje?.accesibilidad ?? 0) | translate}}</ion-content>
            </ng-template>
          </ion-popover>
          <ion-icon id="viaje_bici" src="assets/img/bici_{{viaje?.bicicletas ? viaje?.bicicletas : '0'}}.svg"></ion-icon>
          <ion-popover trigger="viaje_bici" triggerAction="click"showBackdrop="false">
            <ng-template>
              <ion-content class="ion-padding">{{'gtfs.bikesAllowed.'+(viaje?.bicicletas ?? 0) | translate}}</ion-content>
            </ng-template>
          </ion-popover>
        </ion-card-subtitle>
        <ion-card-content style="padding: 0 !important;">
          <ion-chip text-wrap (click)="navegarA(['../../agencia', viaje?.idAgencia!])">
            <ion-label text-wrap style="max-width: 100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{agencia?.nombre ?? viaje?.idAgencia}}</ion-label>
          </ion-chip>
          <ion-button id="viaje_calendario">
            <ion-icon src="assets/img/calendario.svg"></ion-icon>
          </ion-button>
          <ion-popover class="ion-datetime-button-overlay" trigger="viaje_calendario" [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime presentation="date" readonly="true" [locale]="locale" [firstDayOfWeek]="1" [highlightedDates]="calendario.fechas" [min]="calendario.fechaMin" [max]="calendario.fechaMax"></ion-datetime>
            </ng-template>
          </ion-popover>
          <ng-container *ngIf="viaje?.frecuencias?.length! > 0">
            <ion-button id="viaje_frecuencias">
              <ion-icon src="assets/img/frecuencias.svg"></ion-icon>
            </ion-button>
            <ion-popover class="ion-datetime-button-overlay" trigger="viaje_frecuencias">
              <ng-template>
                <ion-grid>
                  <ion-row>
                    <ion-col size="3" class="ion-no-padding"><ion-label style="font-size: 0.75em; padding-inline: 0.75em; overflow: visible;">{{'viaje.frecuencias.desde' | translate}}</ion-label></ion-col>
                    <ion-col size="3" class="ion-no-padding"><ion-label style="font-size: 0.75em; padding-inline: 0.75em; overflow: visible;">{{'viaje.frecuencias.hasta' | translate}}</ion-label></ion-col>
                    <ion-col size="4" class="ion-no-padding"><ion-label style="font-size: 0.75em; padding-inline: 0.75em; overflow: visible;">{{'viaje.frecuencias.cada' | translate}}</ion-label></ion-col>
                    <ion-col size="2" class="ion-no-padding"><ion-label style="font-size: 0.75em; padding-inline: 0.75em; overflow: visible;"><ion-icon src="assets/img/exacto_1.svg"></ion-icon></ion-label></ion-col>
                  </ion-row>
                  <ion-row *ngFor="let frecuencia of viaje?.frecuencias">
                    <ion-col size="3" class="ion-no-padding"><ion-item class="ion-no-padding" style="--inner-padding-end: 0.1em;"><ion-label style="font-size: 0.75em; padding-inline: 1em; overflow: visible;">{{frecuencia.horaInicio | slice:0:-3}}</ion-label></ion-item></ion-col>
                    <ion-col size="3" class="ion-no-padding"><ion-item class="ion-no-padding" style="--inner-padding-end: 0.1em;"><ion-label style="font-size: 0.75em; padding-inline: 1em; overflow: visible;">{{frecuencia.horaFin | slice:0:-3}}</ion-label></ion-item></ion-col>
                    <ion-col size="4" class="ion-no-padding"><ion-item class="ion-no-padding" style="--inner-padding-end: 0.1em;"><ion-label style="font-size: 0.75em; padding-inline: 1em; overflow: visible;">{{frecuencia.margen * 1000 | date:"H'h' m'm'":'UTC'}}</ion-label></ion-item></ion-col>
                    <ion-col size="2" class="ion-no-padding"><ion-item class="ion-no-padding" style="--inner-padding-end: 0.1em;"><ion-label style="font-size: 0.75em; padding-inline: 1em; overflow: visible;">{{frecuencia.exacto ? 'Si' : 'No'}}</ion-label></ion-item></ion-col>
                  </ion-row>
                </ion-grid>
              </ng-template>
            </ion-popover>
          </ng-container>
          <ng-container *ngIf="vehiculoTiempoReal">
            <ion-button id="viaje_tiemporeal">
              <ion-icon src="assets/img/tiemporeal.svg"></ion-icon>
            </ion-button>
            <ion-popover trigger="viaje_tiemporeal" triggerAction="click" showBackdrop="false">
              <ng-template>
                <ion-content>
                  <ng-container *ngIf="vehiculoTiempoReal.trip?.scheduleRelationship">
                    <ion-text style="font-weight: bold;">{{'viaje.relacionHorario' | translate}}: </ion-text>
                    <ng-container>
                      <ion-text>{{'gtfs.tripShceduleRelationship.'+tripScheduleRelationshipEnum[vehiculoTiempoReal.trip?.scheduleRelationship ?? tripScheduleRelationshipEnum.SCHEDULED] | translate}}</ion-text>
                    </ng-container>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="vehiculoTiempoReal.vehicle?.licensePlate">
                    <ion-text style="font-weight: bold;">{{'viaje.matricula' | translate}}: </ion-text>
                    <ion-text>{{vehiculoTiempoReal.vehicle?.licensePlate}}</ion-text>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="vehiculoTiempoReal.position?.bearing">
                    <ion-text style="font-weight: bold;">{{'viaje.rumbo' | translate}}: </ion-text>
                    <ion-text>{{vehiculoTiempoReal.position?.bearing}}</ion-text>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="vehiculoTiempoReal.position?.speed">
                    <ion-text style="font-weight: bold;">{{'viaje.velocidad' | translate}}: </ion-text>
                    <ion-text>{{vehiculoTiempoReal.position?.speed}}</ion-text>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="vehiculoTiempoReal.currentStatus">
                    <ion-text style="font-weight: bold;">{{'viaje.estadoActual' | translate}}: </ion-text>                    
                    <ng-container>
                      <ion-text>{{'gtfs.currentStatus.'+vehicleStopStatusEnum[vehiculoTiempoReal.currentStatus] | translate}}</ion-text>
                    </ng-container>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="vehiculoTiempoReal.congestionLevel">
                    <ion-text style="font-weight: bold;">{{'viaje.congestion' | translate}}: </ion-text>
                    <ng-container>
                      <ion-text>{{'gtfs.congestionLevel.'+congestionLevelEnum[vehiculoTiempoReal.congestionLevel] | translate}}</ion-text>
                    </ng-container>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="vehiculoTiempoReal.occupancyStatus">
                    <ion-text style="font-weight: bold;">{{'viaje.ocupacion' | translate}}: </ion-text>
                    <ng-container>
                      <ion-text>{{'gtfs.occupancyStatus.'+occupancyStatusEnum[vehiculoTiempoReal.occupancyStatus] | translate}}</ion-text>
                    </ng-container>
                    <ion-text *ngIf="vehiculoTiempoReal.occupancyPercentage"> ({{vehiculoTiempoReal.occupancyPercentage}}%)</ion-text>
                    <br/>
                  </ng-container>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ng-container>
          <ng-container *ngIf="alertasTiempoReal.length > 0">
            <ion-button color="warning" (click)="mostrarModalAlertas()">
              <ion-icon slot="icon-only" src="assets/img/alerta.svg"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-list>          
        <ion-item *ngFor="let horario of viaje?.horarios; index as i" [button]="true" [detail]="false" (click)="navegarA(['../../parada', horario.idParada])" [ngClass]="horario.claseElemento ?? 'futura'">
          <ion-label style="flex-grow: 2;">
            <ion-text>{{horario.paradaObj?.nombre}}</ion-text>            
          </ion-label>
          <ion-label style="flex: 0 0 auto; text-align: end;">
            <ng-container *ngIf="horario.retrasoTiempoReal">
              <ng-container *ngIf="horario.retrasoTiempoReal === 0">
                <ion-text color="success" style="padding-right: 0.2em;">=</ion-text>
              </ng-container>
              <ng-container *ngIf="horario.retrasoTiempoReal < 0">
                <ion-text color="danger" style="padding-right: 0.2em;"> (-{{-horario.retrasoTiempoReal | durationFormat:'seconds':'h[h] m[min]'}})</ion-text>
              </ng-container>
              <ng-container *ngIf="horario.retrasoTiempoReal > 0">
                <ion-text color="danger" style="padding-right: 0.2em;"> (+{{horario.retrasoTiempoReal | durationFormat:'seconds':'h[h] m[min]'}})</ion-text>
              </ng-container>
            </ng-container>
            <ion-text>{{horario.momentoLlegadaTiempoReal ?? horario.momentoLlegada | dateFormat:'H:mm'}} <ion-text *ngIf="(horario.momentoLlegadaTiempoReal || horario.momentoLlegada) && (horario.momentoSalidaTiempoReal || horario.momentoSalida)"> - </ion-text> {{horario.momentoSalidaTiempoReal ?? horario.momentoSalida | dateFormat:'H:mm'}}</ion-text>
            <br/>
            <ion-note>
              <ion-text *ngIf="horario.tiempoRestante && horario.tiempoRestante < 0">{{'viaje.hace' | translate:({'tiempo': -horario.tiempoRestante})}}</ion-text>
              <ion-text *ngIf="horario.tiempoRestante && horario.tiempoRestante >= 0">{{'viaje.en' | translate:({'tiempo': horario.tiempoRestante})}}</ion-text>
              <ion-icon id="viaje_exacto_{{horario.orden}}" src="assets/img/exacto_{{horario.exacto ? '1' : '0'}}.svg" (click)="$event.stopPropagation()"></ion-icon>
              <ion-popover trigger="viaje_exacto_{{horario.orden}}" triggerAction="click" showBackdrop="false">
                <ng-template>
                  <ion-content *ngIf="horario.exacto" class="ion-padding">{{'gtfs.timepoint.'+((horario.exacto === undefined || !horario.exacto) ? 0 : 1) | translate}}</ion-content>
                </ng-template>
              </ion-popover>
              <ng-container *ngIf="horario.tipoRecogida != 0 || horario.tipoBajada != 0 || horario.recogidaContinua != 1 || horario.bajadaContinua != 1">
                <ion-icon id="viaje_pickup_dropoff_{{horario.orden}}" src="assets/img/pickup_dropoff.svg" (click)="$event.stopPropagation()"></ion-icon>
                <ion-popover trigger="viaje_pickup_dropoff_{{horario.orden}}" triggerAction="click" showBackdrop="false">
                  <ng-template>
                    <ion-content>
                      <ng-container *ngIf="horario.tipoRecogida != 0">
                        <ion-text style="font-weight: bold;">{{'viaje.tipoRecogida' | translate}}:</ion-text>
                        <ion-text><br/>{{'gtfs.pickupType.'+horario.tipoRecogida | translate}}.</ion-text>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.tipoBajada != 0">
                        <ion-text style="font-weight: bold;">{{'viaje.tipoBajada' | translate}}:</ion-text>
                        <ion-text><br/>{{'gtfs.dropOffType.'+horario.tipoBajada | translate}}.</ion-text>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.recogidaContinua != 1">
                        <ion-text style="font-weight: bold;">{{'viaje.recogidaContinua' | translate}}:</ion-text>
                        <ion-text><br/>{{'gtfs.continuousPickup.'+horario.recogidaContinua | translate}}.</ion-text>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.bajadaContinua != 1">
                        <ion-text style="font-weight: bold;">{{'viaje.bajadaContinua' | translate}}:</ion-text>
                        <ion-text><br/>{{'gtfs.continuousDropOff.'+horario.bajadaContinua | translate}}.</ion-text>
                        <br/>
                      </ng-container>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ng-container>
              <ng-container *ngIf="horario.tiempoReal">
                <ion-icon id="viaje_tiemporeal_{{horario.orden}}" src="assets/img/tiemporeal.svg" (click)="$event.stopPropagation()"></ion-icon>
                <ion-popover trigger="viaje_tiemporeal_{{horario.orden}}" triggerAction="click" showBackdrop="false">
                  <ng-template>
                    <ion-content>
                      <ng-container *ngIf="horario.tiempoReal.arrival">
                        <ion-text style="font-weight: bold;">{{'viaje.llegada' | translate}}: </ion-text>
                        <ng-container *ngIf="horario.momentoLlegadaTiempoReal">
                          <ion-text>{{horario.momentoLlegadaTiempoReal | dateFormat:'H:mm'}}</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoLlegadaTiempoReal! < 0">
                          <ion-text color="danger" style="padding-right: 1em;"> ({{'viaje.tiempoRealAntes' | translate:({'tiempo': (-horario.retrasoLlegadaTiempoReal! | durationFormat:'seconds':'h[h] m[min]')})}})</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoLlegadaTiempoReal! > 0">
                          <ion-text color="danger" style="padding-right: 1em;"> ({{'viaje.tiempoRealAntes' | translate:({'tiempo': (horario.retrasoLlegadaTiempoReal! | durationFormat:'seconds':'h[h] m[min]')})}})</ion-text>
                        </ng-container>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.tiempoReal.departure">
                        <ion-text style="font-weight: bold;">{{'viaje.salida' | translate}}: </ion-text>
                        <ng-container *ngIf="horario.momentoSalidaTiempoReal">
                          <ion-text>{{horario.momentoSalidaTiempoReal | dateFormat:'H:mm'}}</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoSalidaTiempoReal! < 0">
                          <ion-text color="danger" style="padding-right: 1em;"> ({{'viaje.tiempoRealAntes' | translate:({'tiempo': (-horario.retrasoSalidaTiempoReal! | durationFormat:'seconds':'h[h] m[min]')})}})</ion-text>
                        </ng-container>
                        <ng-container *ngIf="horario.retrasoSalidaTiempoReal! > 0">
                          <ion-text color="danger" style="padding-right: 1em;"> ({{'viaje.tiempoRealAntes' | translate:({'tiempo': (horario.retrasoSalidaTiempoReal! | durationFormat:'seconds':'h[h] m[min]')})}})</ion-text>
                        </ng-container>
                        <br/>
                      </ng-container>
                      <ng-container *ngIf="horario.tiempoReal.scheduleRelationship">
                        <ion-text style="font-weight: bold;">{{'viaje.relacionHorario' | translate}}: </ion-text>
                        <ng-container [ngSwitch]="horario.tiempoReal.scheduleRelationship">
                          <ion-text>{{'gtfs.stopScheduleRelationship.'+stopScheduleRelationshipEnum[horario.tiempoReal.scheduleRelationship] | translate}}</ion-text>
                        </ng-container>
                        <br/>
                      </ng-container>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ng-container>
            </ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</app-lateral>